<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="css/style.css">
  </head>
  <body>
    <header>
      <div id="side">
        <p><%= image_tag 'ホーム.png', :size =>'45x40' %>ホーム</p><br>
        <p><%= image_tag '話題を検索.png', :size =>'40x40' %>話題を検索</p><br>
        <p><%= image_tag '通知.png', :size =>'40x40' %>通知</p><br>
        <p><%= image_tag 'メッセージ.png', :size =>'50x50' %>メッセージ</p><br>
        <p><%= image_tag 'ブックマーク.png', :size =>'50x50' %>ブックマーク</p><br>
        <p><%= image_tag 'リスト.png', :size =>'40x40' %>リスト</p><br>
        <p><%= image_tag 'プロフィール.png', :size =>'50x50' %>プロフィール</p><br>
        <p><%= image_tag 'もっと見る.png', :size =>'30x30' %>もっと見る</p><br>
      </div>
      
      <div id="side2">  
        <ul>
          <li><%= link_to 'ツイートする', '/tweets/new' %></li>
        </ul>
      </div>
    </header>
  </body>
</html>