<% if flash[:notice] %>
  <%= flash[:notice] %>
<% end %>

<% @tweets.each do |tweet| %>
  <p>
    <%= tweet.message %>
    <%= tweet.tdate %>
    <%= link_to '表示', "/tweets/#{tweet.id}" %>
    <%= link_to '削除', "/tweets/#{tweet.id}", method: :delete %>
    <%= link_to '編集', "/tweets/#{tweet.id}/edit" %>
  </p>
  
<% end %>

<p><%= link_to 'ツイートする', '/tweets/new' %></p>